.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--primary-color);
  z-index: 1000;
  font-size: 1.5rem; /* Dopasowujemy do reszty strony */
}

.prompt {
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.navLink:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-shadow: none;
}